/* Reset browser styling*/

*{
    margin: 0;
    
    box-sizing: border-box;
}




    
 /* footer styling*/


#footer {
    height: auto;
    display:flex;
    flex-direction: column;
    width: 100vw;
    background-color: #0B4176; 
    padding-top: 32px;
    padding-bottom: 96px;
    padding-left: 119px;
    padding-right: 119px;
}

#footer-top {
   
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    font-family:  'Inter', sans-serif;
    font-size: 20px;
    line-height: 24.2px;
    text-align: left;
    font-weight: 700;
    padding-bottom: 8px;
  
}
#footer-top  div{
    text-align: left;
    width: 20%;
}
#footer-down {
   
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    font-family:  'Inter', sans-serif;
    font-size: 20px;
    line-height: 24.2px;
    text-align: left;
    font-weight: 700;
}
#footer-down div{
    text-align: left;
    width: 20%;
}

#footer-pages {
    gap: 20px;
}
#footer-pages div {
   font-family:  'Inter', sans-serif;
    font-size: 16px;
    line-height: 19.36px;
    text-align: left;
    font-weight: 400;
    padding: 4px 0px;
  
  }

#contact div {
    font-family:  'Inter', sans-serif;
    font-size: 16px;
    line-height: 19.36px;
    text-align: left;
    font-weight: 400;
    padding: 4px 0px;
    white-space: nowrap;
}
#contact img{
    width: 24px;
    height: 20px;
    margin-top: 4px;
}
#contact-content{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    gap: 12px;
}
#about div {
   font-family:  'Inter', sans-serif;
    font-size: 16px;
    line-height: 19.36px;
    text-align: left;
    font-weight: 400;
    padding: 4px 0px;
}
#blog div {
   font-family:  'Inter', sans-serif;
    font-size: 16px;
    line-height: 19.36px;
    text-align: left;
    font-weight: 400;
    padding: 4px 0px;
}
#terms div {
   font-family:  'Inter', sans-serif;
    font-size: 16px;
    line-height: 19.36px;
    text-align: left;
    font-weight: 400;
    padding: 4px 0px;
  white-space: nowrap;
}











/* Top featured*/

  

    
    